<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>

<h1>NEW USER</h1>

<form th:method="POST" th:action="@{/admin/}" th:object="${user}">

    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="lastName">Last Name</label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <br/>
    <label for="age">Age</label>
    <input type="text" th:field="*{age}" id="age"/>
    <br/>
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
    <label>
        <select multiple="multiple" th:field="*{roles}">
            <option value="" disabled selected>Roles:</option>
            <option th:each="role : ${roles}" th:value="${role.name}" th:text="${role.name}"></option>
        </select>
    </label>
    <br/>
    <input type="submit" value="CREATE"/>

</form>

<br/>
<hr/>
<a th:href="@{/admin/users}">RETURN TO TABLE USERS</a>

<br>
<form th:action="@{'/logout'}">
    <input type="submit" value="Logout"/>
</form>

</body>

</html>