<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>User</title>
    <style>table th, table td {padding: 10px;}</style>
</head>

<body>
<h1>USERS</h1>

<table th:border="10">
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>LAST NAME</th>
        <th>AGE</th>
        <th>EMAIL</th>
        <th>ROLE</th>
        <th>ACTION</th>
    </tr>

    <tr th:each="user : ${users}">
        <td th:utext="${user.getId()}">id</td>
        <td th:utext="${user.getName()}">name</td>
        <td th:utext="${user.getLastName()}">lastName</td>
        <td th:utext="${user.getAge()}">age</td>
        <td th:utext="${user.getEmail()}">email</td>
        <td th:utext="${user.getRoles()}">role</td>
        <td>
            <a th:href="@{/admin/edit?id={id}(id=${user.id})}">edit</a>
            <a th:href="@{/admin/delete?id={id}(id=${user.id})}">delete</a>
        </td>
    </tr>
</table>

<br/>
<hr/>
<a th:href="@{/admin/new}">CREATE NEW USER</a>

<br>
<hr/>
<form th:action="@{'/logout'}">
    <input type="submit" value="Logout"/>
</form>

</body>

</html>