<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Security Example</title>
    <style>table th, table td {padding: 10px;}</style>
</head>
<body>
<h1>User</h1>
<table th:border="10">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>lastName</th>
        <th>age</th>
        <th>email</th>
    </tr>

    <tr>
        <td th:utext="${user.id}">id</td>
        <td th:utext="${user.name}">name</td>
        <td th:utext="${user.lastName}">lastName</td>
        <td th:utext="${user.age}">age</td>
        <td th:utext="${user.email}">email</td>
    </tr>
</table>

<br>
<form th:action="@{'/logout'}">
    <input type="submit" value="Logout"/>
</form>

</body>
</html>